.nav-container {
    max-width: 100%;
    width: 750px;
    /* min-height: 85px; */
    background-image: url("../images/nav-bg.png");
    background-size: cover;
    background-position: center center;
    cursor: url('../images/cursor.png') 16 16, auto;
    padding: 20px 10px;
    transform: translateY(-80px);
    border-radius: 3px;
    box-shadow: 1px 1px 1px #fddda8,
                 1px 2px 1px #a68956,
                 1px 3px 1px #a68956,
                 1px 4px 1px #a68956,
                 1px 5px 1px #a68956,
                 1px 6px 1px #a68956,
                 1px 7px 1px #a68956,
            1px 18px 6px rgba(16,16,16,0.4),
            1px 22px 10px rgba(16,16,16,0.2),
            1px 25px 25px rgba(16,16,16,0.2),
            1px 30px 60px rgba(16,16,16,0.4);
}

.toggle-btn{
    transform: translateX(300px);
    border: 1px solid #704601;
}
.toggle-btn:active{
    outline: none;
}

.nav-container  h5{
    text-decoration: none;
    cursor: url('../images/cursor.png') 16 16, auto;
    font-family: pearl;
    color: rgb(3, 126, 109);
    font-size: 38px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #fddda8,
    1px 2px 1px #a68956,
    1px 3px 1px #a68956,
    1px 4px 1px #a68956,
    1px 5px 1px #a68956;
    transition: all 1s;

}

.nav-container a{
    text-decoration: none;
}

.nav-container  a:hover{
    text-shadow: 1px 1px 1px #fddda8;
}

 /* #basic-navbar-nav{
    position: absolute;
    top: 0px !important;
    left: 0px !important;
  } */
  

@media (max-width: 590px) {

    .contact-link h5, .projects-link h5, .about-link h5, .home-link h5{
        font-size: 22px;
    }
    .nav-container{
        background: transparent !important;
        border: none;
        box-shadow: none;
    }
   
  }
  



 